body, html{
  height: 100%;
  background-color: #131313;
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 'Lato', sans-serif;
  text-decoration: none;

}
.part1{
  height: 56.25%;
}

.land {
  background-color: #131313;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  color: white;
  display: flex;
 -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
          text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.land2{
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  color: white;
  display: flex;
 -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
          text-align: center;
  padding-top: 50px;
}

h3 {
  letter-spacing: 5px;
}

.land a {
  text-decoration: none;
  color:#9F9F9F;
}
.land a:hover{
  color: #fff;
}

.land ul {
  list-style-type: none;
}

.caption { 
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
}
.caption p {
  font-size: 12px;
}

.text {
  width: 100%;
  text-align: center;
  color: white;
}

.profile{
  position: fixed;
  margin-left: 5%;
  margin-top: 10%;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.profiletxt{
  position: fixed;
  color: #fff;
  text-align: center;
  margin-top: 40%;
  margin-left: 13.5%;
  padding-bottom: 10px;

}
.profiletxt a {
  text-decoration: none;
  color: #9F9F9F;
}

.profiletxt a:hover{
  color: #fff;
}

@media screen and (max-width: 1000px){
  .profile{
    position:relative;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    align-items: center;
    height: 300px;
    width: 300px;
  }
  .profiletxt{
  position: relative;
  margin-top: 5%;
  margin-left: 0%;
  }
}

.paralax1,.paralax2{
    opacity: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paralax1{
  background-image: url('assets/IMG_5403.JPG');
  min-height: 100vh ;
}
.parlax2{
  background-image: url('assets/IMG_5724.JPG');
  min-height: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.container {
    display: inline-block;
    position: fixed;
    align:left;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: top;
    cursor: pointer;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.works{
  height: 100%;
  font-weight: 3px;
  color: #fff;
  align-items: center;
  text-align: center;
}

.hidden{
  display: none;
}

.works h4{
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

}

.works img{
  width: 31%;
  float: left;
  padding: 1%;
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.works img:hover {
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
