body, html{
  height: 100%;
  background-color: #131313;
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 'Lato', sans-serif;

}
.part1{
  height: 56.25%;
}

.land {
  background-color: #131313;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  color: white;
  display: flex;
 -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
          text-align: center;
}

.caption { 
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 10px;
}
.caption p {
  font-size: 12px;
}

.text {
  width: 100%;
  text-align: center;
  color: white;
}


.paralax1,.paralax2{
    padding-top: 56.25%;
    opacity: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paralax1{
  background-image: url('assets/IMG_5403.JPG');
  min-height: 100%;
}
.parlax2{
  background-image: url('assets/IMG_5724.JPG');
  min-height: 400px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.container {
    display: inline-block;
    position: fixed;
    align:left;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: top;
    cursor: pointer;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2{
    opacity: 0;
}


.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-col
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}